.head_base {
    padding-top: 70px;
}

.text_base {
    color: #2b2b2b;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
}

.t_table thead {
    background-color: #b45f06;
    color: whitesmoke;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}

.t_table tbody {
    color: #102e3b;
    text-align: left;
    font-size: 0.8em;
    font-weight: normal;
}

.t_table th {
    padding-left: 50px;
}

.t_table td.nm {
    padding-left: 20px;
}

.t_table td.subj {
    font-style: italic;
}

.ttt {
    border: 1px solid #b45f06;
    border-radius: 15px;
    background-color: rgb(219, 190, 163);
    padding: 5px;
    color: #102e3b;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
}

.table_title {
    text-align: left;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #b45f06;
}

.page_bnr {
    float:right;
}

.usr {
    text-align: right;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #26214b;
    vertical-align: bottom;
}

.rol {
    text-align: right;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #495255;
    vertical-align: middle;
}
